<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Crea una nota.</h4>
        </div>
        <div class="card-body">
 
 
 
<form (ngSubmit)="onSubmit()" [formGroup]=notaForm #formDir="ngForm">  
 
 
<div class="form-group">  
  <label>Encabezado:</label> 
  <input type="text" name="encabezado" class="form-control"  formControlName="encabezado">  
</div> 
   
 
 
<div class="form-group"> 
  <label>Contenido: </label> 
  <textarea class="form-control" name="contenido" rows="4" cols="50" formControlName="contenido"> Tu Nota aqui...</textarea>   
</div> 

 <div class="form-group">
                  <label>Temas</label>
                  <select   class="form-control"  id="tema" required  name="tema"   formControlName="tema">
                    <option value="" selected>Selecciona un tema...</option>
                    <option *ngFor="let tema of mis_temas" [value]="tema.idTemas ">
                      {{tema.Nombre}}
                    </option>
                  </select>
                </div> 
 
  
<div class="form-group">  
  <label>URL de la imagen:</label> 
  <input type="text" name="img" class="form-control"  formControlName="img">  
</div> 
   
<div class="col-md-6 ml-auto mr-auto text-center">
 
         <button  type="button" class="btn btn-info" (click)=" ver();   registerN( );"  >
             <!-- <a href="/user-profile"> Link de referecia provisional register(); -->
                <span><b> Cargar imagen </b></span>
        </button>
 </div>
</form>
 
</div>
</div>
</div>
</div>
</div>